<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css">
		<title>Product</title>
	</head>
	<body>
		<nav>
			<a href="/product">Back to Product Index</a>
		</nav>
		<h1><%= product.name %></h1>
        <br/>
        <img class="show-img" src=<%= product.img %>>
        <br/>
        <br/>
		<h4 class="show-h4"><%= product.description%></h4>
		<br/>
		<h3>Price: <%= product.price %></h3>
        <br/>
		 <h3>Quantity: <%= product.qty %></h3>
        <br/>
        <button>Buy</button></a>
        <br/>
        <br/>
        <a href="/product/<%=product._id %>/edit">Edit</a>
        <br/>
        <br/>
        <form action="/product/<%=product._id%>?_method=DELETE" method="POST" >
            <input type="submit" value="Delete"/>
        </form>
        
	</body>
</html>